@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
form {
  margin: auto;
  margin-top: 40vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* -50% en hauteur, tiré de sa propre hauteur */
  max-width: 830px;
  border-radius: 10px;
  border:4px solid #fff;;
  outline:1px solid #999;
  padding: 15px;
  text-align: center;
  background-color: #e6e1e1;
  font-family: 'Poiret One', cursive;
  font-size: 1.3rem;
}

h1 {
  font-size: 1.2rem;
  padding: 30px;
}

input {
  margin: auto;
  display: block;
  width: 390px;
}
button {
  margin-top: 15px;
  width: 170px;
  border-radius: 1px;
  padding: 5px;
  font-family: 'Poiret One', cursive;
  font-size: 1.6rem;
}
